*{
    margin: 0px;
    padding:0px;
    font-family: sans-serif,arial;
    box-sizing: border-box;
}

body{
    background:#ededed
}

h1{
    font-size:2rem;
}

.enviar-derecha{
    margin-left: auto;
}

#navegador{
    background: #3b3b3b;
    color:white;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav{
    max-width: 1100px;
    margin: auto;
}

nav ul{
    display:flex;
    align-items: center;
}

nav li{
    background:#b6b2b2;
    padding: 5px;
    height: 27px;
    text-decoration: none;
    list-style: none;
    margin-left: 10px;
    border-radius: 2px;
}

nav li:hover{
    background:black;
    cursor: pointer;
}

#contenedor{
    max-width: 1100px;
    background: #fff;
    margin: auto;
    margin-top: 25px;
    margin-bottom:25px;
    display:flex;
}

#contenedorInterno{
    flex-grow: 1;
    padding: 10px;
}

#contenedor aside{
    width: 300px;
    padding: 10px;
    background: #ededed;
}

.categoria{
    display:flex;
    background: #ededed;
    padding:10px;
    margin-bottom: 10px;
}

.articuloRelacionado{
    width: 280px;
    margin: auto;
    margin-bottom: 5px;
    padding: 6px;
    transition:all .3s;
}

.portada{
    margin-top:15px;
    width:100%;
    margin-bottom: 20px;
}

.chrome{
    float: left;
    margin-top: 20px;
    width:250px;
    margin-right: 10px;
}

.navPost{
    display: flex;
    text-align: center;
    margin-top: 20px;
    border-top: solid 2px #e9e9e9;
}

.navPost div{
    flex-grow: 1;
    padding: 20px;
    transition: all .2s;
}

.articuloRelacionado img{
    width: 280px;
}

.articuloRelacionado:hover{
    transform: scale(1.1);
    cursor: pointer;
    
}

.articulo{
    padding: 10px;
}

.articulo p{
    text-align: justify;
}

.navPost div:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.logo img{
    width: 40px;
    filter: grayscale(1);
}

#footer{
    background: #3b3b3b;
    color: #fff;
}

footer{
    display: flex;
    max-width: 1100px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.contacto{
    font-size: 0.9rem;
}


/*Tablets*/
@media(max-width: 768px){
    
    #contenedor{
        flex-direction: column;
    }
    #contenedor aside{
        width: 100%;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        margin-bottom: 0px;
    }
    .articuloRelacionado{
        width: 47%;
    }
    nav,footer{
        max-width: 80%;
    }
}

/*Mobiles*/
@media(max-width: 375px){
    ul{
        max-width: 95%;
        flex-wrap: wrap-reverse;
    }
    .logotipo{
        margin: auto;
        margin-bottom: 10px;
    }
    nav li.menu{
        margin-left: 24px;
    }
    footer{
        flex-direction: column;
        text-align: center;
        padding-bottom: 10px;
    }
    .articuloRelacionado{
       text-align: center;
        width: 95%;
        margin-bottom: 15px;
        justify-items: center;
    }
    .chrome{
        float: none;
        margin: auto;
        margin-left: 10%;
        margin-bottom: 15px;
    }

}

